<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
        <br>
        <h2>Create a new listing</h2>
        <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input 
                name="listing[title]" 
                placeholder="Add a title" 
                type="text" 
                class="form-control"
                required
                >
                <div class="valid-feedback">Title looks good</div>
            </div>
    
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea 
                name="listing[description]" 
                class="form-control"
                required
                ></textarea>
                <div class="invalid-feedback">Please enter a short description</div>
            </div>

            <div class="mb-3">
                <label for="image" class="form-label">Upload Listing Image</label>
                <input name="listing[image]" type="file" class="form-control" required>
                
            </div>
            
            <div class="row">
            <div class="mb-3 col-4">
                <label for="price" class="form-label">Price</label>
                <input name="listing[price]" placeholder="e.g. 1200" class="form-control" required>
                <div class="invalid-feedback">Price should be valid</div>
            </div>
            
            <div class="mb-3 col-8">
                <label for="country" class="form-label">Country</label>
                <input name="listing[country]" placeholder="e.g. India" type="text" class="form-control" required>
                <div class="invalid-feedback">Country name should be valid</div>
            </div>
            </div>

            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input name="listing[location]" placeholder="e.g. Delhi" type="text" class="form-control" required>
                <div class="invalid-feedback">Location should be valid</div>
            </div>
            
            <br><br>
            <button class="btn btn-dark">Add</button>
        </form>
    </div>
    </div>

    
</body>
